.enlarged-picture-component-container {
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  user-select: none;
}
.flexbox-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .arrow {
    margin: 1rem;
    font-size: 4rem;
    color: #0ccac4;
    cursor: pointer;
  }
}

.big-img {
  margin: 0;
  overflow: hidden;
  border: 0.5rem solid #0ccac4;
  padding: 0;
  border-radius: 5%;
}
